-e .
airbyte-cdk~=0.1
requests-mock~=1.9.3
pytest~=6.1
pytest-mock~=3.6.1
py~=1.11.0
cryptography~=42.0.8
typing_extensions~=4.12.2
pip~=23.2.1
attrs~=23.2.0
wheel~=0.41.2
Jinja2~=3.1.4
setuptools~=68.2.0
pytz~=2024.1
toml~=0.10.2
PyYAML~=6.0.1
cattrs~=23.2.3
dpath~=2.0.8
bracex~=2.4
orjson~=3.10.6
MarkupSafe~=2.1.5
pluggy~=1.5.0
iniconfig~=2.0.0
backoff~=2.2.1
certifi~=2024.7.4
isodate~=0.6.1
six~=1.16.0
urllib3~=2.2.2
python-dateutil~=2.9.0.post0
pytzdata~=2020.1
pendulum~=2.1.2
pydantic~=1.10.17
idna~=3.7
tenacity~=8.5.0
langsmith~=0.1.96
requests~=2.32.3
pycparser~=2.22
wrapt~=1.16.0
Deprecated~=1.2.14
jsonref~=0.2
jsonschema~=3.2.0
pyrsistent~=0.20.0
jsonpointer~=3.0.0
packaging~=23.2
genson~=1.2.2
wcmatch~=8.4
PyJWT~=2.9.0
cachetools~=5.4.0
platformdirs~=4.2.2
jsonpatch~=1.33